body header h2 {
    background-color: rgba(252, 210, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body header nav {
    text-align: end;
    line-height: 3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


footer {
  text-align:center;
  padding: 30px;
    background-color: rgba(255, 77, 0, 0.694);
}

body main table img {
    background-color: rgb(206, 195, 91);
    border-style: inset;


}

body main table  {
    background-color: rgb(225, 203, 1);
    border-style: groove 100%;
    font-family: cursive;
    text-align: center;

}

body {
    background-color: rgb(144, 248, 255);
}


.container {
    line-height: 1.4;
}
